
/*-------max-width: 980px-------
------------------------------ */
 @media screen and (max-width: 980px){

/* ========banner-sectin========= */

    
    .top-banner-section {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .banner-image img {
        width: 100%;
    }

    .banner-header {
        padding-left: 10px;
    }


    .btn {
        margin-bottom: 50px;
    }

 /* ============player section ========*/


    .container {
        padding-top: 30px;
        width: 100%;
        margin: 0 auto;
    }
   

    .players {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 15px;
        
    }

 
 /* ======= start popular section=======*/
    .popular-team {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .team img {
        width: 100%;
        height: auto;
    }
    .top-container {
        width: 90%;
    }
 
/* =======highlights-section========= */

.highlights-section{
    margin-top: 40px;
    display: flex;
    flex-direction: column; 
}
 }


/*-------max-width: 668px-------
------------------------------ */
@media screen and (max-width: 668px){
/*========== nav-bar========= */
  

.top-container {
    width:100%;
     
    }
     
.mobaile-menu {
    display: block;
    transition: display , .3s;
       
}
.nav-bar {
  
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
    text-align: center;
}


.left-area ul li a {
    text-decoration: none;
    font-size: 12px;
    text-transform: capitalize;
    color: white;
    display: none;
}

.right-area .btn {
    padding-right: 10px;
}




/* ========banner-sectin========= */

    .top-banner-section {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 40px;
    } 
    .banner-image img {
        width: 85%;
        height: auto;
        padding-left: 10px;
    } 
    
    .banner-header {
        padding-left: 10px;
    }

    .banner-header h1 {
        margin: 0;
        padding:0;
        font-size: 35px;
    }

    .btn {
        margin-bottom: 50px;
    }

 /* ============player section ========*/

    .container {
        padding-top: 30px;
        width: 100%;
        margin: 0 auto;
    }
   
    .players {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 15px;
        
    }

    .player {
        width: 250px;
        height: 474px;
        margin: 0 auto;
        background-color: rgb(233, 233, 233);
        padding-left: 23px;
    }
   

   
    .player img {
        width : 220px;
        height: auto;
        margin-top: 20px;
        padding-left: 0;
     }
    
     .player p {
         width: 150px;
     }
    
    
/* =======highlights-section========= */

    .highlights-section{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        
    }

    .highlights-video img  {
       margin-top: 20px;
       width: 90%;
       height: auto;
    }
    .highlights-heading {
        padding-left: 10px;
    }

    .highlights-heading h3 {
        font-size: 30px;
    }

    .highlights-heading p {
        width: 100%;
    }

/* ==================
  extra-section
  ---------------
 start popular section
===================== */

.popular-team {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.team img {
    width: 100%;
    height: auto;
}



/* ==================
  extra-section2
  ---------------
 start contact section
===================== */


.input-area {
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    grid-row-gap: 10px;
}


.contact-section {
    margin-top: 60px;
}



/* =======footer-section========= */

.footer-logo img {
    width: 200px;
    height: 100px;
 }

       
    .footer-logo .img {
        width: 100%;
        height: auto;
     }
    
     .footer-area {
         margin-top: 40px;
     }

}